<configuration>
    <property name="LOG_FILE" value="forecaster" />
    <property name="LOG_DIR" value="/Users/buurgr/devLiga/logs/" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>30MB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <logger name="ru.liga" level="DEBUG" >
        <appender-ref ref="FILE" />
    </logger>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>